{% extends "base.html" %}

{% block title %}Flask URL shortener{% endblock %}

{% block head %}
    <style>
        #center {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
        }
    </style>
{% endblock %}

{% block content %}
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
        <div class="container is-max-desktop">
            <div class="navbar-brand">
                <p class="navbar-item">
                    <a href="/" style="color: black;">
                        <strong>Flask URL Shortener</strong>
                    </a>
                </p>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-item">
                    <a href="/info" style="color: black;">
                        Get link Info
                    </a>
                </div>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="https://github.com/janaSunrise/flask-url-shortener">
                    GITHUB
                </a>
            </div>
        </div>
    </nav>

    <br/>

    <div class="container is-max-widescreen">
        <h1 class="subtitle is-4" id="center">Get started with shortening your URL!</h1>
    </div>

    <br/>

    <div class="container is-max-desktop">
        <input id="redirect-url" class="input is-primary" type="url" placeholder="Enter your URL to be shortened!"
               required>
    </div>

    <br/>

    <div class="control">
        <div class="has-text-centered">
            <button id="shorten-btn" class="button is-primary is-light is-medium">Shorten!</button>
        </div>
    </div>

    <br/>

    <div class="container is-max-desktop">
        <input id="copy-input" class="input is-primary" type="text" placeholder="Your shortened URL will appear here"
               readonly>
    </div>

    <br/>

    <div class="control">
        <div class="has-text-centered">
            <button id="copy-to-clipboard" class="button is-primary is-light is-medium">Copy!</button>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        let base_url = {{ base_url | tojson }};

        // Generate URL
        $('#shorten-btn').click(function () {
            const textarea = $('#redirect-url');
            const shorten_area = $('#copy-input');

            if (textarea.val() !== "") {
                fetch(`${base_url}/api/shorten?redirect_url=${textarea.val()}`)
                    .then((resp) => resp.json())
                    .then(function (data) {
                        shorten_area.val(data.shortened_url);
                    })
            }
        });

        // Copy to clipboard
        $('#copy-to-clipboard').click(function () {
            const textarea = $('#copy-input');

            if (textarea.val() !== "") {
                textarea.select();
                document.execCommand('copy');
            }
        });
    </script>
{% endblock %}
