{% extends "base.html" %}

{% block title %}Flask URL shortener{% endblock %}

{% block content %}
    <div class="notification is-warning has-text-centered" id="ratelimit-alert" hidden>
        You're shortening URLs too quick. Please try again later.
    </div>

    <div class="container is-max-widescreen">
        <h1 class="subtitle is-4" id="center">Get started with shortening your URL!</h1>
    </div>

    <br/>

    <div class="field">
        <div class="container is-max-desktop">
            <label class="class=" for="redirect-url">Enter your URL to be shortened</label>
            <div class="control">
                <input id="redirect-url" class="input is-primary" type="url" placeholder="URL Here!" required>
            </div>
        </div>

    </div>

    <div class="control" id="copy-btn-div">
        <div class="has-text-centered">
            <button id="shorten-btn" class="button is-success is-medium">Shorten!</button>
        </div>
    </div>

    <br/>
    <br/>

    <div id="copy-area" hidden>
        <div class="field">
            <div class="container is-max-desktop">
                <label for="copy-input">Copy your shortened URL</label>
                <div class="control">
                    <input id="copy-input" class="input is-primary" type="text"
                                                       placeholder="Your shortened URL will appear here"
                                                       readonly>
                </div>
            </div>

        </div>

        <div class="field is-grouped container is-max-desktop">
            <div class="control">
                <button id="copy-to-clipboard" class="button is-success is-medium">Copy!</button>
            </div>
            <div class="control">
                <button class="button is-primary is-medium is-light" onclick="location.href = '/';">Shorten another URL!</button>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script>
        let base_api_url = {{ base_api_url | tojson }};

        // Generate URL
        $('#shorten-btn').click(function () {
            const textarea = $('#redirect-url');
            const shorten_area = $('#copy-input');
            const ratelimit_alert = $("#ratelimit-alert");

            if (textarea.val() !== "") {
                fetch(`${base_api_url}/shorten?redirect_url=${textarea.val()}`)
                    .then((resp) => resp.json())
                    .then(function (data) {
                        ratelimit_alert.hide();
                        shorten_area.val(data.shortened_url);

                        $("#copy-area").show();
                        $("#copy-btn-div").hide();
                    })
                    .catch(() => {
                        ratelimit_alert.show();
                    })
            }
        });

        // Copy to clipboard
        $('#copy-to-clipboard').click(function () {
            const textarea = $('#copy-input');

            if (textarea.val() !== "") {
                textarea.select();
                document.execCommand('copy');
            }
        });
    </script>
{% endblock %}
