{% extends "base.html" %}

{% block title %}Flask URL shortener{% endblock %}

{% block head %}
    <style>
        #center {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="notification is-warning has-text-centered" id="ratelimit-alert" hidden>
        You're shortening URLs too quick. Please try again later.
    </div>

    <div class="container is-max-widescreen">
        <h1 class="subtitle is-4" id="center">Get started with shortening your URL!</h1>
    </div>

    <br/>

    <div class="field has-addons">
        <div class="container is-max-desktop">
            <input id="redirect-url" class="input is-primary" type="url" placeholder="Enter your URL to be shortened!"
                   required>
        </div>

    </div>

    <div class="control">
        <div class="has-text-centered">
            <button id="shorten-btn" class="button is-success is-medium">Shorten!</button>
        </div>
    </div>

    <br/>
    <br/>

    <div class="field has-addons">
        <div class="container is-max-desktop">
            <input id="copy-input" class="input is-primary" type="text"
                   placeholder="Your shortened URL will appear here"
                   readonly>
        </div>

    </div>

    <div class="control">
        <div class="has-text-centered">
            <button id="copy-to-clipboard" class="button is-success is-medium">Copy!</button>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        let base_url = {{ base_url | tojson }};

        // Generate URL
        $('#shorten-btn').click(function () {
            const textarea = $('#redirect-url');
            const shorten_area = $('#copy-input');
            const ratelimit_alert = $("#ratelimit-alert");

            if (textarea.val() !== "") {
                fetch(`${base_url}api/shorten?redirect_url=${textarea.val()}`)
                    .then((resp) => resp.json())
                    .then(function (data) {
                        ratelimit_alert.hide();
                        shorten_area.val(data.shortened_url);
                    })
                    .catch(() => {
                        ratelimit_alert.show();
                    })
            }
        });

        // Copy to clipboard
        $('#copy-to-clipboard').click(function () {
            const textarea = $('#copy-input');

            if (textarea.val() !== "") {
                textarea.select();
                document.execCommand('copy');
            }
        });
    </script>
{% endblock %}
