{% extends "base.html" %}

{% block title %}Flask URL shortener{% endblock %}

{% block head %}
    <style>
        #center {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container is-max-widescreen">
        <h1 class="subtitle is-4" id="center">Get info about shortened URL!</h1>
    </div>

    <br/>

    <div class="field has-addons">
        <div class="container is-max-desktop">
            <input id="redirect-url" class="input is-primary" type="url" placeholder="Enter your URL grab info about!"
                   required>
        </div>
    </div>

    <div class="control">
        <div class="has-text-centered">
            <button id="shorten-btn" class="button is-success is-medium">Grab info!</button>
        </div>
    </div>

    <hr/>

    <div class="field has-addons">
        <div class="container is-max-desktop">
            <label class="label">URL Visit count</label>
            <input id="visits" class="input is-primary" type="text" placeholder="The URL has been visited n times..."
                   readonly>
        </div>

    </div>

    <div class="field has-addons">
        <div class="container is-max-desktop">
            <label class="label">URL Creation date</label>
            <input id="created" class="input is-primary" type="text" placeholder="The URL was created on..." readonly>
        </div>

    </div>

    <div class="field has-addons">
        <div class="container is-max-desktop">
            <label class="label">URL Redirect Info</label>
            <input id="redirect" class="input is-primary" type="text" placeholder="The URL Redirects to..." readonly>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        let base_url = {{ base_url | tojson }};

        // Generate URL
        $('#shorten-btn').click(function () {
            const textarea = $('#redirect-url');

            if (textarea.val() !== "") {
                fetch(`${base_url}api/info?code=${textarea.val()}`)
                    .then((resp) => resp.json())
                    .then(function (data) {
                        $("#visits").val(data.visits);
                        $("#redirect").val(data.redirects_to);
                        $("#created").val(data.created);
                    })
            }
        });
    </script>
{% endblock %}
